.App {
  font-family: Avenir;
}
.App h1 {
  border-bottom: 1px solid #000;
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
}
.Content {
  margin-top: 20px;
}

@media only screen and (max-width : 480px) {
  .Order h1 {
    width: 90%;
    color: yellow;
  }
} 
@media (min-width: 481px) and (max-width: 768px) {
  .Order {
    width: 75%;    
  } 
}
