.Order {
	width: 69%;
	height: 20vh;
	margin: 5px auto;	
}
.Agency {
	float: left;
}
.Agency li {
	display: inline-block;
	margin: 10px;
	font-size: 1rem;
	font-weight: 400;
}
.Product {
	float: left;
	border-bottom: 1px solid #000;
	margin: 1px;
}
.Product {
	float: left;
	border-bottom: 1px solid #000;
	margin: 1px;
}
.Product li {
	text-align: left;
	display: inline-block;
	padding-bottom: 20px;
}
.Product .Title {
	text-align: left;
	font-size: 1rem;
	font-weight: 600;
}
.Button {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 0px;
	margin: 0 5px;
}

@media only screen and (max-width : 480px) {
  .Order {
    width: 90%;
  }
} 
@media (min-width: 481px) and (max-width: 768px) {
  .Order {
    width: 75%;    
  } 
}